rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Collection couriers rule
    match /couriers/{courierId} {
      allow get, list, create, update, delete: if true;
    }

    // Collection support_tickets rule
    match /support_tickets/{ticketId} {
      allow get, list, create, update, delete: if true;
    }
  }
}
